// .container {
// 	.ad-btn-4 {
// 		padding: 10px 50px;
// 		@include flex(flex, center, center);
// 		@include button-verde;
// 		font-size: 1rem;
// 	}
// 	.ad-btn-4:hover {
// 		background-color: $secondary-hover;
// 	}
// }

@media all and (min-width: 1025px) {
	.card-query {
		display: none;
	}
	.ad-card-img {
		width: 83%;
		height: 580px;
		position: absolute;
		// right: 0px;
		// top: 0px;
		z-index: -1;
	}
	.text {
		width: 510px;
		// height: 460px;
		h2 {
			text-align: left;
			font-size: 40px;
		}
		p {
			font-size: 16px;
			padding: 10px 0;
		}
	}
}

@media all and (max-width: 1024px) {
	.ad-card-img {
		display: none;
	}

	.card-query {
		width: 596px;
		height: 440px;
	}

	.text {
	}
}
