.sectionWidth{
    width:80vw;
    margin: auto;
}
.carte-regalo-img{
    width:80%;
}
.carte-regalo-testo{
    width:40%;
}
.sfondo-carta{
    background-color:transparent!important;
}

@media all and (max-width: 1024px) {
	.sectionWidth{
		.contenitore-query{
			align-items: center !important;
			.carte-regalo-img{
				width:110%;
			}
			.carte-regalo-testo{
				position:initial;
				width:100%;
			}
		}
	}

}
