.cl-container {
	width: 80%;
	background-image: url(Source/assets-cloud/geforce-now-devices-2560x770-d@2x.jpg);
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	.cl-logo-container {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap:20px;
		.cl-container-mobile {
			display:flex;
			align-items: flex-start;
			.cl-img-container-home {
				display: flex;
				flex-direction: column;
				align-items: center;
				.img-logo {
					width:50%;
				}
				.h2-logo {
					color: white;
					font-size: 30px;
					margin-bottom:0;
					margin-top:20px;
				}
				.p-logo{
					color: white;
					font-size:20px;
				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	.cl-container {
		.cl-logo-container {
			.cl-container-mobile {
				.cl-img-container-home {
					.img-logo {
						width:60%;
					}
					.h2-logo {
						font-size: 22px;
					}
					.p-logo{
						color: white;
						font-size:14px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.cl-container {
		.cl-logo-container {
			.cl-container-mobile {
				flex-direction: column;
				.cl-img-container-home {
					.img-logo {
						width:20%;
					}
					.h2-logo {
						font-size: 16px;
					}
					.p-logo{
						font-size: 10px;
					}
				}
			}
		}
	}
}
