.error-logo-container {
    padding: 15px 0;
    width: 80%;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-logo-Nvidia {
    width: 364px;
    height: 30px;
}

.error-button{
    background-color: #76b900;
	color: white;
	border: none;
    position: absolute;
    bottom: 280px;
    height: 44px;
    width: 230px;
    
}