
@font-face {
    font-family: "Geforce bold";
    src: url(./fonts/Geforce\ Bold.ttf);
}

@font-face {
    font-family: "Geforce light";
    src: url(./fonts/Geforce\ Light.ttf);
}

@font-face {
    font-family: "Trebuchet bold italic" ;
    src: url(./fonts/Trebuchet\ Bold\ Italic.ttf);
}

@font-face {
    font-family: "Trebuchet bold";
    src: url(./fonts/Trebuchet\ Bold.ttf);
}

@font-face {
    font-family: "Trebuchet italic" ;
    src: url(./fonts/Trebuchet\ Italic.ttf);
}

@font-face {
    font-family: "Trebuchet";
    src: url(./fonts/Trebuchet.ttf);
}

@font-face {
    font-family: "DINpro light";
    src: url(./fonts/DINPro-Light.ttf);
}

@font-face {
    font-family: "DINpro regular";
    src: url(./fonts/DINPro-Regular.ttf);
}

