#a,
#ad-span {
	color: #666666 !important;
	text-decoration: none;
}

.AD-content {
	display: flex;
	flex-direction: column;
	max-width: 1300px;
	width:90%;
	.ad-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;

		.ad-nvidia-logo {
			width: 110px;
			height: 20px;
			margin: 15px;
		}

		.ad-global-footer-region {
			.ad-global-footer__region__label {
				width: 780px;
				height: 20px;
				text-align: center;
				color: #888;
				text-decoration: none;
				margin: 20px;
			}
		}

		.ad-copyright {
			margin: 0 auto;
			padding-top: 1rem;
			position: relative;
			right: 193px;
		}
	}
}

@media all and (max-width: 1350px) {
	.ad-footer-content {
		height: auto;
	}

	.ad-subscribe {
		flex-direction: column;

		.ad-social {
			margin-left: 430px;
		}
	}

	.ad-global-footer-region {
		.ad-logo {
			flex-direction: column;
			align-items: center;

			.ad-nvidia-logo {
				right: 0;
			}
		}

		.ad-global-footer__region__label {
			left: 0;
			font-weight: bold;
			color: #888;
		}
	}
}

@media all and (max-width: 1024px) {
	.AD-content {
		width: 90%;
		.ad-logo {
			flex-direction: column;
			align-items: center;
			.ad-nvidia-logo {
				right: 0;
			}
			.ad-global-footer__region__label {
				font-weight: bold;
				color: #888;
			}
		}
		.ul-align{
            text-align: center !important;
			li {
				display: inline-block;
			}
        }
		.ad-copyright{
            text-align: center !important;
			margin: 0 auto;
        }
	}
}
