//CAROUSEL
.container-text-giochi {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2147483647;
  width: 35%;

  .h3-sect-giochi {
    font-family: "Geforce light";
    font-size: 30px;
    color: $white-color;
  }

  .span-sect-giochi {
    font-family: "Geforce light";
    font-size: 20px;
    color: $white-color;
  }
}
.img-sect-giochi-query{
  display:none;
}
//NUOVI GIOCHI
.container-sect-nuovigiochi {
  margin: auto;
  width:80%;
  .container-list{
    .lista-nuovi-giochi{
      padding-left:0;
    }
  }
}

//ACCORDION
.catalog {
  padding: 15px;
  margin: auto;
  max-width: 1440px;
  margin-top: 100px;
  margin-bottom: 100px;

  .check {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 60px;
    font-size: 42px;
    font-family: "Geforce bold";
  }

  #div-bar-games {
    width: 100%;
    display: flex;
    margin-bottom: 100px;

    #search-bar-games {
      margin: auto;
      width: 75%;
      height: 50px;
      background-color: black;
      border: 1px solid gray;
      font-size: 34px;
      padding: 35px;
      color: white;

    }
  }

  .accordion {
    .accordion-item {
      background-color: black;

      .accordion-button {
        background-color: black;
        box-shadow: none;
        color: white;
        font-size: 32px;
        border: 1.5px solid #76b900;
      }

      .collapsed {
        border: 1.5px solid #333;
        border-radius: 0px !important;
      }

      .accordion-collapse {
        background-color: black;
        color: #afafaf;

        .div-accordion {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          font-size: 20px;

          .h3-alphabetic-list {
            color: white;
          }

          section {
            padding: 0 20px;
          }
        }

        .div-accordion-last {
          font-size: 20px;
          display: flex;
          justify-content: flex-start;

          section {
            padding: 0 20px;
          }
        }
      }
    }
  }
}




@media screen and (max-width: 990px) {

  //ACCORDION
  .catalog {
    .accordion {
      .accordion-item {
        background-color: black;

        .accordion-collapse {
          .div-accordion {
            flex-direction: column;
            section{
              margin-top:20px;
            }
          }

          .div-accordion-last {
            flex-direction: column;
          }
        }
      }
    }
  }

  //CAROUSEL
  .container-text-giochi {
    .h3-sect-giochi {
      font-size: 25px;
    }

    .span-sect-giochi {
      font-size: 16px;
    }
  }
}



@media screen and (max-width: 560px) {

  //CAROUSEL
  .container-text-giochi {
    top: 10%;
    line-height: 10px;

    .h3-sect-giochi {
      font-size: 15px;
    }

    .span-sect-giochi {
      font-size: 10px;
    }
  }
  .img-sect-giochi{
    display:none;
  }
  .img-sect-giochi-query{
    display:block;
  }
  .img-sect-giochi-query1{
    height: 237px;
    object-fit: cover;
  }
  //NUOVI GIOCHI
  .container-sect-nuovigiochi{
    width:90%;
    .container-list{
      .lista-nuovi-giochi{
        .li-lista-giochi{
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
  
  
}