.title-giochi-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sect-giochi .carousel-inner {
    width: 100%;
    height: fit-content;
  }
  #sect-giochi #div-size-gfn,
  #sect-giochi #div-size-legobrawls,
  #sect-giochi #div-size-saints,
  #sect-giochi #div-size-genshin,
  #sect-giochi #div-size-guildwars {
    height: fit-content;
    width: 100%;
  }
  #sect-giochi #img-GFNThursday {
    height: 580px;
    object-fit: cover;
  }
  #sect-giochi #button {
    border-radius: 50%;
    height: 10px !important;
    width: 10px !important;
    background-color: #76B900 !important;
  }
  
  .button-giochi {
    border-radius: 50%;
    height: 10px !important;
    width: 10px !important;
    background-color: #76B900 !important;
  }
  
  .container-giochi {
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  
  .container-text-giochi {
    max-width: 100%;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .container-text-giochi .paragraph-sect-giochi {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-text-giochi .title-giochi {
    color: white;
    width: 100%;
    height: auto;
  }
  .container-text-giochi .title-giochi .h1-size {
    font-size: 48px;
    font-family: "Geforce bold";
  }
  .container-text-giochi .title-giochi .h2-size {
    font-size: 36px;
    font-family: "Geforce bold";
  }
  .container-text-giochi .second-title-giochi {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .container-text-giochi .second-title-giochi #p-find-giochi {
    font-family: "Geforce bold";
    font-size: 26px;
    padding-bottom: 50px;
  }
  .container-text-giochi .second-title-giochi #list-giochi {
    display: flex;
    flex-direction: column;
    line-height: 18px;
  }
  .container-text-giochi .second-title-giochi p {
    font-size: 22px;
  }
  .container-text-giochi .second-title-giochi .h4-size {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Geforce bold";
  }
  .container-text-giochi .second-title-giochi a {
    text-decoration: none;
    color: #76b900;
    font-family: "Geforce bold";
  }
  
  #div-bar-games {
    width: 100%;
    display: flex;
  }
  #div-bar-games #search-bar-games {
    margin: auto;
    width: 70%;
    height: 50px;
    background-color: black;
    border: 1px solid gray;
    font-size: 34px;
    padding: 35px;
    color: white;
  }
  
  .catalog {
    padding: 15px;
    margin: auto;
    max-width: 1440px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .catalog .check {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 60px;
    font-size: 42px;
    font-family: "Geforce bold";
  }
  .catalog .accordion .accordion-item {
    background-color: black;
  }
  .catalog .accordion .accordion-item .accordion-button {
    background-color: black;
    box-shadow: none;
    color: white;
    font-size: 32px;
    border: 1.5px solid #76b900;
  }
  .catalog .accordion .accordion-item .collapsed {
    border: 1.5px solid #333;
    border-radius: 0px !important;
  }
  .catalog .accordion .accordion-item .accordion-collapse {
    background-color: black;
    color: #afafaf;
  }
  .catalog .accordion .accordion-item .accordion-collapse .div-accordion {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .catalog .accordion .accordion-item .accordion-collapse .div-accordion .h3-alphabetic-list {
    color: white;
  }
  .catalog .accordion .accordion-item .accordion-collapse .div-accordion section {
    padding: 0 20px;
    text-align: center;
  }
  .catalog .div-accordion-last {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .catalog .div-accordion-last section {
    padding: 0 20px;
  }
  .catalog .paragraph-sect-giochi2 {
    font-size: 26px;
    text-align: center;
    padding-top: 100px;
  }

  .h3-sect-giochi {
    font-family: "Geforce light";
    font-size: 40px;
    color: white;
    position: absolute;
    left: 100px;
    top: 200px;
    z-index: 2147483647;
  }
  .span-sect-giochi {
    font-family: "Geforce light";
    font-size: 32px;
    color: white;
    position: absolute;
    left: 100px;
    top: 260px;
    z-index: 2147483647;
  }
  #h3-sect-gfn {
    font-family: "Geforce light";
    font-size: 40px;
    color: white;
    position: absolute;
    left: 725px;
    top: 200px;
    z-index: 2147483647;
  }
  #span-sect-gfn {
    font-family: "Geforce light";
    font-size: 32px;
    color: white;
    position: absolute;
    left: 725px;
    top: 260px;
    z-index: 2147483647;
  }
  #h3-sect-genshin {
    font-family: "Geforce light";
    font-size: 40px;
    color: white;
    position: absolute;
    left: 70px;
    top: 200px;
    z-index: 2147483647;
  }
  #span-sect-genshin {
    font-family: "Geforce light";
    font-size: 32px;
    color: white;
    position: absolute;
    left: 70px;
    top: 260px;
    z-index: 2147483647;
  }
  #h3-sect-guildwars {
    font-family: "Geforce light";
    font-size: 40px;
    color: white;
    position: absolute;
    left: 70px;
    top: 200px;
    z-index: 2147483647;
    width: 510px;
  }
  #span-sect-guildwars {
    font-family: "Geforce light";
    font-size: 32px;
    color: white;
    position: absolute;
    left: 70px;
    top: 320px;
    z-index: 2147483647;
  }
  #img-guildwars {
    height: 580px;
    object-fit: cover;
    width: 100vw;
  }
  #img-legobrawls {
    height: 750px;
    object-fit: cover;
    width: 100vw;
  }
  #img-saintsrow {
    height: 820px;
    object-fit: cover;
    width: 100vw;
  }
  #img-genshin {
    height: 580px;
    object-fit: cover;
    width: 100vw;
  }
  #img-guildwars {
    height: 580px;
    object-fit: cover;
    width: 100vw;
  }
  #sliders-giochi {
    width: 100%;
    height: auto;
    margin-top: 150px;
  }
  .d-block .w-100 {
    width: 30px;
    height: 30px;
  }
  .carousel-inner2 {
    width: 900px;
    height: 900px;
  }
  .carousel-caption {
    position: absolute;
    top: 250px;
    left: 475px;
    width: 500px;
    height: 500px;
  }
  h5 {
    color: #76B900;
    font-size: 24px;
  }

  #div-bar-games #search-bar-games {
    margin: auto;
    width: 40%;
    height: 50px;
    background-color: black;
    border: 1px solid gray;
    font-size: 34px;
    padding: 35px;
    color: white;
  }