@media screen and (max-width: 1023.99px) {
	#MG-sec-porta-esperienza {
		display: flex;
		flex-direction: row;
		margin-bottom: 80px;

		#MG-bg-joystick-img {
			width: 500px;
			height: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		#MG-container-esperienza {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			// height: 95vh;

			#MG-esperienza-par {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 95%;
				height: 40vh;
				margin: 30px;
				padding: 20px;

				// #MG-div-btn {
				// 	height: 38px;
				// 	width: 238px;
				// 	@include button-verde;

				// 	&:hover {
				// 		background-color: colors.$primary-hover;
				// 	}

				// 	#MG-link-div-btn {
				// 		text-decoration: none;

				// 		#MG-p-inner-btn {
				// 			color: white;
				// 			font-family: "Geforce light";
				// 			font-size: 18px;
				// 			text-align: center;
				// 			line-height: 38px;
				// 		}
				// 	}
				// }
			}

			#MG-h1-porta-esperienza {
				font-size: 44px;
				color: white;
				line-height: 40px;
				font-family: "Geforce light";
				line-height: 50px;
			}

			#MG-p-porta-esperienza {
				font-size: 20px;
				line-height: 24px;
				color: white;
				font-family: "DINPro light";
				line-height: 35px;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	#MG-sec-porta-esperienza {
		display: flex;
		flex-direction: row;

		#MG-bg-joystick-img {
			width: 600px;
			height: 600px;
		}

		#MG-container-esperienza {
			display: flex;
			justify-content: center;
			margin-right: auto;
			margin-left: auto;
			width: auto;

			#MG-esperienza-par {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 45%;
				height: 75%;
				margin: 10px;

				// #MG-div-btn {
				// 	height: 38px;
				// 	width: 238px;
				// 	@include button-verde;

				// 	&:hover {
				// 		background-color: colors.$primary-hover;
				// 	}

				// 	#MG-link-div-btn {
				// 		text-decoration: none;

				// 		#MG-p-inner-btn {
				// 			color: white;
				// 			font-family: "Geforce light";
				// 			font-size: 18px;
				// 			text-align: center;
				// 			line-height: 38px;
				// 		}
				// 	}
				// }
			}

			#MG-h1-porta-esperienza {
				font-size: 44px;
				color: white;
				line-height: 40px;
				font-family: "Geforce light";
				line-height: 50px;
			}

			#MG-p-porta-esperienza {
				font-size: 20px;
				line-height: 24px;
				color: white;
				font-family: "DINPro light";
				line-height: 35px;
			}
		}
	}
}