#MG-sec-porta-esperienza {
	display: flex;
	flex-direction: row;
	padding:0 30px;
		margin-bottom: 70px;

	#MG-container-esperienza {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items:center;
		gap:40px;
		#MG-bg-joystick-img {
			width: 30%;
		}
		#MG-esperienza-par {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 45%;
			.textLeft{
				text-align:left;
			}
			.alignLeft{
				align-self: flex-start;
				margin-top:25px;
			}
		}

		#MG-h1-porta-esperienza {
			font-size: 44px;
			color: white;
			line-height: 40px;
			font-family: "Geforce light";
			line-height: 50px;
		}

		#MG-p-porta-esperienza {
			font-size: 20px;
			line-height: 24px;
			color: white;
			font-family: "DINPro light";
			line-height: 35px;
		}
	}
}

@media screen and (max-width: 992px) {
	#MG-sec-porta-esperienza {
		// margin-bottom: 80px;

		#MG-container-esperienza {
			flex-direction: column;

			#MG-bg-joystick-img {
				width: 80%;
			}

			#MG-esperienza-par {
				width: 95%;
			}
		}
	}
}

	