.container-country-region {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 740px;
	// max-height: 100%;
	height: auto;
	box-shadow: 0 0 4px #888;
	position: fixed;
	left: 710px;
	top: 172px;
	z-index: 2147483647;
	background-color: white;
	border: none;
	border-radius: 0;

	.header-container-lingua {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;

		p {
			text-align: center;
			font-weight: bold;
		}

		.button-region {
			width: 80px;
			height: 50px;
			padding: 13px 15px 8px;
			font-size: 18px;
			font-weight: bold;
			background-color: rgb(118, 185, 0);
			color: white;
			border: none;
		}
	}

	hr {
		width: 80%;
		margin: 30px;
		border: 0.5px solid rgba(160, 158, 158, 0.616);
	}

	.list-region {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	a {
		margin: 10px;
		color: rgb(118, 185, 0);
		text-decoration: none;
		font-family: "Geforce bold";
	}
}
