.container-list {
    color: white;
    width: 100%;
    height: auto;
    text-align: center;

    .lista-nuovi-giochi {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        margin-top: 50px;

        ::marker{
            color: black;
        }

        .li-lista-giochi {
            font-size: 22px;
            text-decoration: none;

            .link-giochi {
                color: $primary-color !important;
                font-family: "Geforce bold";
            }
        }
    }
}
