.navbar-dark {
	background-color: black !important;
	// height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	.container-fluid {
		width: 1400px;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.navbar-brand {
			font-size: 36px;
			font-weight: bold;
		}

		.offcanvas-end {
			top: 70px;
		}

		.offcanvas-body {
			width: 250px;
		}

		.nav-link {
			color: grey !important;
			text-decoration: none;
			font-size: 22px;
		}

		.nav-link:hover {
			color: $primary-color !important;
		}

		.offcanvas {
			background-color: black;
			.btn-close {
				color: white;
				font-size: 25px;
			}
		}

		.navbar-toggler {
			border: none;
		}
	}
}