.sectionWidth{
	.contenitore-query{
		.carte-regalo-img-desktop{
			width:250%;
			height:100%;
		}
		.carte-regalo-img-query{
			display:none;
		}
		.overlay-right{
			left:40%;
		}
		.carte-rtx-testo{
			width:53%;
		}
	}
}
@media all and (max-width: 1025px) {
	.sectionWidth{
		.contenitore-query{
			.carte-regalo-img-desktop{
				display:none;
			}
			.carte-regalo-img-query{
				display:block;
				width:100%;
			}
			.carte-rtx-testo{
				position:initial;
				width:100%;
			}
			
		}
	}
	
}
