.AD-container {
	display: flex;
	gap: 40px;
	flex-direction: row !important;
    align-items: center;
    // text-align: start;
	// padding: 0 0 90px 0;
}

@media all and (max-width: 1024px) {
	.AD-container {
		flex-wrap: wrap-reverse;
		img{
			width: 100%;
		}
	}
}