.nav-server{
    width: 100vw;
    height: 82px;
    background-color: white;

    .div-logo-server{
        height: 100%;
        width: 10%;
        display: flex;
        padding: 15px 110px;

        #svg-server{
            width:150px;
            height: 44px;
        }
        }
}

.title-server{
    font-size: 60px;
    color: #76B900;
    text-align: center;
    font-family: "Geforce light";
    margin: 100px auto;
}

.container-server{
    display: flex;
    justify-content: center;
    align-items: center;

    .container-issue-server{
        width: 50vw;
        height: 33vh;
        border: black 4px solid;
    }

    .header-issue-server{
        width: 100%;
        height: 20%;
        background-color: #333;
        padding: 10px 20px;

        #a-issue-server{
            font-size: 30px;
            font-family: 'DINPro light';
            padding: 30px auto;
        }
    }

    .paragraph-issue-server{
        border: white 1px solid;
        border-top:none;
        height: 50%;
        padding: 20px 20px;

        .p1-issue-server{
            font-size: 20px;
            font-family: 'DINPro light';
            color:white;
        }

        .p2-issue-server{
            font-size: 20px;
            font-family: 'DINPro light';
            color: #666666;
        }
    }
}

.accordion-server{
    width: 50%;

    .accordion-server-item{
        width: 60%;
    }
}


// Accordion

.container-server-accordion{
    display: flex;
    justify-content: center;
    .accordion-server{
        width: 85vw;


    .accordion-server-item{
        margin-left: auto;
        margin-right: auto;
        color:white;
        .accordion-server-header{
            .accordion-button{
                background-color: black;
                color:white;
                height: 9vh;

                .container-paragraph{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px;

                    .servername-paragraph{
                        color:white;
                        font-size: 24px;
                        font-weight: 500;
                        font-family: "DINPro light";
                    }

                    .serverstatus-paragraph{

                    }
                }
            }

        }

        .accordion-server-collapse{

            .accordion-server-body{
                background-color: black;
                width: 100%;
            }
        }
    }
}

}
