.nav-server{
    width: 100vw;
    height: 82px;
    background-color: white;

    .div-logo-server{
        height: 100%;
        width: 10%;
        display: flex;
        padding: 15px 110px;

        #svg-server{
            width:150px;
            height: 44px;
        }
        }
}

.title-server{
    font-size: 60px;
    color: #76B900;
    text-align: center;
    font-family: "Geforce light";
    margin: 100px auto;
}

.container-server{
    display: flex;
    justify-content: center;
    align-items: center;

    .container-issue-server{
        width: 50vw;
        height: 33vh;
        border: black 4px solid;
    }

    .header-issue-server{
        width: 100%;
        height: 20%;
        background-color: #333;
        padding: 10px 20px;

        #a-issue-server{
            font-size: 30px;
            font-family: 'DINPro light';
            padding: 30px auto;
        }
    }

    .paragraph-issue-server{
        border: white 1px solid;
        border-top:none;
        height: 50%;
        padding: 20px 20px;

        .p1-issue-server{
            font-size: 20px;
            font-family: 'DINPro light';
            color:white;
        }

        .p2-issue-server{
            font-size: 20px;
            font-family: 'DINPro light';
            color: #666666;
        }
    }

}

.server-element {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px !important;
    font-family: 'DINPro light' !important;
    width: 70% !important;
    .p-status {
        color: $primary-color !important;
        
    }
}

.accordion-button {
    background-color: black !important;
    width: 70% !important;
} 

// .accordion-body {
//         width: 70% !important;

// }

