.mg-follow-social {
    width: 100%;
    height: 215px;
    background-color: #302d2d;
    display: flex;
    flex-direction: column;
}

.mg-h1-social{
    margin-top: 50px !important;
    font-size: 32px;
    color: white;
    font-family: 'Geforce bold';
    margin: 30px auto;
}

.mg-container-socialIcons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 200px;
}

.mg-social-icons {
    width: 50px;
    height: 50px;
    margin: 10px;
}