.TFR-container {
    flex-direction: column;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.TFR-title {
    color: $primary-color;
    margin: 25px;
    text-align: center;
}

.TFR-background {
    background-color: #2a2a2a;
    height: 100vh;
    padding-top: 200px;
}

.ad-logo-Nvidia {
    width: 364px;
    height: 30px;
}