.container-title-header{
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

.title-color-white{
    color: white;
}

.title-color-black{
    color: black;
}

.title-header-one{
    font-size: 38px;
    font-family: "Geforce bold";
    text-align: center;
}

.title-header-two{
    font-size: 18px;
    line-height: 1.3;
    font-weight: 100;
    font-family: 'Geforce light';
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}  