.rpGiocanoArticle {
	background-image: url(https://images.nvidia.com/aem-dam/Solutions/gfn/webassets/overview/geforce-now-video-1350-770-l@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.dimensioni{
		width:40vw!important;
		max-width:550px!important;		
		height:300px!important;
	}
}
@media screen and (max-width:991px){
	.rpGiocanoArticle {
		.dimensioni{
			width:60vw!important;
		}
	}
}
@media screen and (max-width:520px){
	.rpGiocanoArticle {
		.dimensioni{
			width:80vw!important;		
			height:200px!important;
		}
	}
}