.rpGiocanoArticle {
	background-image: url(https://images.nvidia.com/aem-dam/Solutions/gfn/webassets/overview/geforce-now-video-1350-770-l@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.rpGiocanoH2 {
		color: white;
		font-family: "Geforce bold";
		font-size: 40px;
		margin: 20px 0px 0px 0px;
	}

	.rpGiocanoP {
		color: white;
		font-family: "DINPro light";
		text-align: center;
		font-size: 16px;
		padding: 10px 0px;
		margin: 0px;
	}

	.rpGiocanoSection {
		padding: 15px 0px;
		max-width: 800px;
		position: relative;

		.rpGiocanoVideo {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		.rpButton {
			border: solid 3px whitesmoke;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			z-index: 1;
			background-color: transparent;

			.rpPlay {
				color: whitesmoke;
				width: 100%;
				height: 100%;
				margin-left: 4px;
				z-index: 1;
			}
		}
	}
}
.rpGiocanoArticle {
	.rpGiocanoSection {
		.rpGiocanoVideo {
			width: 300px!important;
		}
	}
}