.vantaggi-abbonamenti {
	padding: 60px 0 90px 0;

	.container {
		background-color: $black-color;
		padding: 0 110px;
		margin: auto;
		h2 {
			font-size: 40px;
		}
		h3 {
			font-size: 32px;
			width: 100%;
			// height: 68px;
		}
		p {
			font-size: 16px;
			padding: 10px 0;
			width: 100%;
			// height: 68px;
		}
		.fps,
		.accesso-veloce,
		.durata-estesa {
			padding: 90px 0;
		}
		.rtx-on {
			padding: 0 0 15px 0;
		}
		.title {
			display: flex;
			align-items: center;
			flex-direction: column;
			p {
				width: 100%;
				// height: 68px;
			}
		}
		.fps,
		.rtx-on,
		.accesso-veloce,
		.durata-estesa {
			display: flex;
			justify-content: center;
			align-items: center;
			.fps-logo,
			.rtx-logo,
			.accesso-veloce-logo,
			.durata-estesa-logo {
				width: 220px;
				height: 155px;
				margin: 0 54px;
			}
		}
	}
}

@media all and (max-width: 1024px) {
	.fps,
	.rtx-on,
	.accesso-veloce,
	.durata-estesa {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
	.fps {
		flex-direction: column-reverse;
	}
	.rtx-on {
		flex-direction: column-reverse;
	}
	.accesso-veloce {
		flex-direction: column-reverse;
	}
	.durata-estesa {
		flex-direction: column-reverse;
	}
}
