:root {
	--primary-color: #76b900;
	--primary-hover: #6aa700;
	--secondary-hover: #76d900;
	--black-color: black;
	--grey-color: #1a1a1a;
}

.BTN {
	font-family: "DINpro light";
	text-align: center;
	cursor: pointer;
	height: 44px;
}

/* button style  */

.BTN--primary--green {
	background-color: var(--primary-color);
	color: white;
	border: none;
}

.BTN--secondary--outline {
	background-color: var(--black-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	font-family: "DINpro light";
	text-align: center;
}

.BTN--primary--green:hover {
	background-color: var(--secondary-hover);
}

/* .BTN--secondary--outline:hover {

} */


/* button size  */

.BTN--small {
	width: 65px;
	/* font-size: 14px; */
}

.BTN--medium {
	width: 97px;
	font-size: 14px;
}

.BTN--large {
	width: 230px;
}
