@use "./SASS/colors";
@use "./SASS/fonts";
@import "./SASS/colors";
@import "./SASS/fonts";
@import "./SASS/fortnite";
@import "./SASS/mixin";
@import "./SASS/alert";
@import "./SASS/Joystick";
@import "./SASS/lingua";
@import "./SASS/log-Abb";
@import "./SASS/navNera";
@import './SASS/NewGen';
@import './SASS/GetIn';
@import './SASS/FooterBianco';
@import './SASS/socials';
@import './SASS/greenBanner';
@import './SASS/footerNero';
@import './SASS/microCard';
@import './SASS/citazioni';
@import './SASS/caroselloHome';
@import './SASS/TuttiGiocano';
@import './SASS/cloudGaming';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
	background-color: $black-color !important;
	font-family: "Geforce light";
	list-style-type: none;
	text-decoration: none;
}

a{
	text-decoration: none !important;
	color: white !important;
}