@use "./SASS/colors";
@use "./SASS/fonts";
@import "./SASS/colors";
@import "./SASS/fonts";
@import "./SASS/fortnite";
@import "./SASS/mixin";
@import "./SASS/alert";
@import "./SASS/Joystick";
@import "./SASS/lingua";
@import "./SASS/log-Abb";
@import "./SASS/navNera";
@import './SASS/NewGen';
@import './SASS/GetIn';
@import './SASS/FooterBianco';
@import './SASS/socials';
@import './SASS/greenBanner';
@import './SASS/footerNero';
@import './SASS/microCard';
@import './SASS/citazioni';
@import './SASS/caroselloHome';
@import './SASS/navBianca';
@import './SASS/ThanksForRegister';
@import './SASS/cloudGaming';
@import './SASS/TuttiGiocano';
@import './SASS/nuoviGiochi';
@import './SASS/oltreMille';
@import './SASS/cardAbbonamento';
@import './SASS/title';
@import './SASS/error';
@import './SASS/SystemRequired';
@import './SASS/NavTrasparente';
@import './SASS/HeaderScarica';
@import './SASS/ScaricaCloudGaming';
@import './SASS/BrowserMenu';
@import './SASS/PortaItuoiGiochi';
@import './SASS/CollegatiComodamente';
@import './SASS/ScaricaCloudGaming'; 
@import './SASS/NuovaGenerazione';
@import './SASS/VantaggiPerAbbonati';
@import './SASS/CarteRegalo';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
	background-color: $black-color !important;
	font-family: "Geforce light";
	list-style-type: none;
	text-decoration: none;
}

a{
	text-decoration: none !important;
	color: white !important;
}


.App {
	font-family: "Segoe UI", sans-serif;
	font-size: 1.2rem;
	text-align: center;
  }
  
  .split-pane-col {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
  .split-pane-row {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
  }
  
//   .split-pane-top,
//   .split-pane-bottom,
  .split-pane-right,
  .split-pane-left {
	flex: 1;
	overflow: hidden;
  }

  .split-pane-left {
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 100%;
	z-index: 2;
	// left: 0;
	// position: absolute;
	// top: 0;
	width: 50%;
	background-image: url(../src/Source/assets_abbonamento/2077-RTXON.jpg);
  }
  
  .split-pane-right {
	// background-color: #fff;
	// background-image: linear-gradient(
	// 	90deg,
	// 	transparent 79px,
	// 	#abced4 79px,
	// 	#abced4 81px,
	// 	transparent 81px
	//   ),
	//   linear-gradient(#eee 0.1em, transparent 0.1em);
	// background-size: 100% 1.2em;
	background-image: url(../src/Source/assets_abbonamento/2077-RTXOF.webp);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 100%;
	// left: 0;
	// position: absolute;
	// top: 0;
	width: 50%;
  }
  
//   .split-pane-top,
//   .split-pane-bottom {
// 	background-color: #ccc;
// 	text-align: left;
// 	padding: 2%;
//   }
  
  .separator-col {
	border: 5px solid yellow;
	cursor: col-resize;
  }
  
//   .separator-row {
// 	border: 5px solid yellow;
// 	cursor: row-resize;
//   }
  
//   ul {
// 	margin-left: -2%;
//   }
  
//   ul li {
// 	margin: 1rem;
// 	list-style-type: square;
//   }
  
//   ul a {
// 	text-decoration: none;
// 	color: darkblue;
// 	font-size: large;
//   }
  
//   ul a:hover {
// 	color: black;
//   }
  
//   blockquote {
// 	border-left: 10px solid #ccc;
// 	margin: 5.5em 0 0 0;
// 	quotes: "\201C""\201D""\2018""\2019";
// 	padding: 2rem 0 1rem;
//   }
  
//   blockquote:before {
// 	color: #ccc;
// 	content: open-quote;
// 	font-size: 4em;
// 	line-height: 0.1em;
// 	margin-right: 0.25em;
// 	vertical-align: -0.4em;
//   }
  
//   blockquote p {
// 	display: inline;
//   }
  
//   .quote {
// 	max-width: 60%;
// 	text-align: right;
// 	margin: auto;
// 	font-style: italic;
//   }
  
//   .quote span {
// 	font-weight: bold;
//   }